<h1>Please enter the keyword of your ingredient</h1>
<form action="/importrecipe" method="post">
  <label for="keyword">Keyword:</label><br>
  <input type="text" id="keyword" name="keyword"><br>

  <input type="submit" value="Submit" ><br>
</form>
