<h1>Please enter the name of your recipe</h1>
<form action="/recipes" method="post">
  <label for="name">Recipe name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br>
  <label for="rating">Rating:</label><br>
  <input type="number" id="rating" name="rating"><br>
  <label for="time">Prep Time:</label><br>
  <input type="text" id="time" name="time"><br><br>
  <input type="submit" value="Submit" ><br>
</form>
